In [67]:
import nltk

# Télécharger les packages nécessaires
nltk.download("punkt")
nltk.download("punkt_tab")
nltk.download("stopwords")

# Forcer le chemin où NLTK va chercher les données
nltk.data.path.append("C:/Users/elabi/nltk_data")
nltk.data.path.append("C:/Users/elabi/AppData/Roaming/nltk_data")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\elabi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\elabi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\elabi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [68]:
nltk.download("punkt")
nltk.download("stopwords")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\elabi\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\elabi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [69]:
import re
import pandas as pd
import unicodedata
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

nltk.download("stopwords")
stops = set(stopwords.words("english"))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\elabi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [70]:
df=pd.read_csv('../Data/raw/data.csv')

In [71]:
df.head()

                                                text  label label_text
0  Wall St. Bears Claw Back Into the Black (Reute...      2   Business
1  Carlyle Looks Toward Commercial Aerospace (Reu...      2   Business
2  Oil and Economy Cloud Stocks' Outlook (Reuters...      2   Business
3  Iraq Halts Oil Exports from Main Southern Pipe...      2   Business
4  Oil prices soar to all-time record, posing new...      2   Business

In [72]:
def normalize_text(text):
    text=unicodedata.normalize('NFKD',text)
    text=''.join(c for c in text if not unicodedata.combining(c))

    text=text.lower()
    return text

In [73]:
def tokenize(text):
    return word_tokenize(text)

In [74]:
punct_regex = re.compile(r"^[a-zA-Z0-9]+$")  # garder uniquement tokens alphanumériques

def remove_punctuation_tokens(tokens):
    return [t for t in tokens if punct_regex.match(t)]

In [75]:
def remove_stopwords_tokens(tokens):
    return [t for t in tokens if t not in stops]

In [76]:
def remove_duplicates_tokens(tokens):
    seen = set()
    unique = []
    for t in tokens:
        if t not in seen:
            unique.append(t)
            seen.add(t)
    return unique

In [77]:
def preprocess_nltk(text):
    # 1) Normalisation
    text = normalize_text(text)
    
    # 2) Tokenisation
    tokens = tokenize(text)
    
    # 3) Remove punctuation
    tokens = remove_punctuation_tokens(tokens)
    
    # 4) Remove stopwords
    tokens = remove_stopwords_tokens(tokens)
    
    # 5) Remove duplicates
    tokens = remove_duplicates_tokens(tokens)
    
    return tokens

In [78]:
df["tokens"] = df["text"].apply(preprocess_nltk)
df[["text", "tokens"]].head()

,text,tokens
0,Wall St. Bears Claw Back Into the Black (Reute...,"[wall, bears, claw, back, black, reuters, stre..."
1,Carlyle Looks Toward Commercial Aerospace (Reu...,"[carlyle, looks, toward, commercial, aerospace..."
2,Oil and Economy Cloud Stocks' Outlook (Reuters...,"[oil, economy, cloud, stocks, outlook, reuters..."
3,Iraq Halts Oil Exports from Main Southern Pipe...,"[iraq, halts, oil, exports, main, southern, pi..."
4,"Oil prices soar to all-time record, posing new...","[oil, prices, soar, record, posing, new, menac..."