In [4]:
import pandas as pd

df=pd.read_csv('../Data/raw/data.csv')

In [7]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2')

In [7]:
texts = df["text"].tolist()

embeddings = model.encode(
    texts,
    batch_size=32,
    show_progress_bar=True
)

df["embeddings"] = list(embeddings)

Batches: 100%|██████████| 3750/3750 [32:52<00:00,  1.90it/s]

In [11]:
df['id'] = "train" + df.index.astype(str)

In [8]:
df["embeddings"][0][:10]

array([ 0.3068209 , -0.10956942,  0.1624377 ,  0.13601117,  0.25848904,
       -0.0264087 , -0.30149943, -0.47231135,  0.07645588,  0.01290352],
      dtype=float32)

In [12]:
df.head()

,text,label,label_text,embeddings,id
0,Wall St. Bears Claw Back Into the Black (Reute...,2,Business,"[0.3068209, -0.10956942, 0.1624377, 0.13601117...",train0
1,Carlyle Looks Toward Commercial Aerospace (Reu...,2,Business,"[-0.028773542, -0.28983423, -0.1919421, -0.375...",train1
2,Oil and Economy Cloud Stocks' Outlook (Reuters...,2,Business,"[-0.06412452, -0.13851164, 0.08953882, 0.05397...",train2
3,Iraq Halts Oil Exports from Main Southern Pipe...,2,Business,"[-0.09256743, -0.04910763, -0.021139504, -0.27...",train3
4,"Oil prices soar to all-time record, posing new...",2,Business,"[-0.26494563, -0.08370454, 0.034138516, 0.1356...",train4

In [13]:
df.to_pickle('../Data/processed/data_train.pkl')

<!-- DATA TEST -->

**Data test**

In [8]:
from datasets import load_dataset
# Charger le dataset depuis Hugging Face
dataset = load_dataset("SetFit/ag_news", split="test")

# Conversion en DataFrame pandas
df = dataset.to_pandas()

df.head()

                                                text  label label_text
0  Fears for T N pension after talks Unions repre...      2   Business
1  The Race is On: Second Private Team Sets Launc...      3   Sci/Tech
2  Ky. Company Wins Grant to Study Peptides (AP) ...      3   Sci/Tech
3  Prediction Unit Helps Forecast Wildfires (AP) ...      3   Sci/Tech
4  Calif. Aims to Limit Farm-Related Smog (AP) AP...      3   Sci/Tech

In [9]:
df['text'].duplicated().sum()

np.int64(0)

In [10]:
print("Shape :", df.shape)
print("\nValeurs manquantes :")
print(df.isnull().sum())

Shape : (7600, 3)

Valeurs manquantes :
text          0
label         0
label_text    0
dtype: int64

In [11]:
texts = df["text"].tolist()

embeddings = model.encode(
    texts,
    batch_size=32,
    show_progress_bar=True
)

df["embeddings"] = list(embeddings)

Batches: 100%|██████████| 238/238 [01:45<00:00,  2.25it/s]

In [12]:
df['id'] = "test" + df.index.astype(str)

In [13]:
df.head()

,text,label,label_text,embeddings,id
0,Fears for T N pension after talks Unions repre...,2,Business,"[-0.08176785, 0.5944132, -0.08709569, 0.120522...",test0
1,The Race is On: Second Private Team Sets Launc...,3,Sci/Tech,"[-0.046474844, 0.23879686, -0.12683079, -0.105...",test1
2,Ky. Company Wins Grant to Study Peptides (AP) ...,3,Sci/Tech,"[-0.39099345, 0.027401822, -0.15520296, -0.033...",test2
3,Prediction Unit Helps Forecast Wildfires (AP) ...,3,Sci/Tech,"[-0.1957933, -0.14022312, 0.036478214, 0.24710...",test3
4,Calif. Aims to Limit Farm-Related Smog (AP) AP...,3,Sci/Tech,"[0.10097032, 0.25817314, 0.1155483, 0.35664928...",test4

In [14]:
df.shape

(7600, 5)

In [15]:
df.to_pickle('../Data/processed/data_test.pkl')